:root {
    --darkPurple: #251B34;
    --purple: #372B4A;
    --lightPurple: #584774;
    --brightPurple: #BC9AF4;
    --red: #FF5858;
    --background: var(--darkPurple);
    --boxBg: var(--purple);
    --border: var(--lightPurple);
    --text: #FFFFFF;
    --link: var(--brightPurple);
    --buttonBg: var(--lightPurple);
    --buttonText: #FFFFFF;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    color: var(--text);
    background-color: var(--darkPurple);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: var(--link);
    text-decoration: inherit;
}
a:hover {
    color: var(--buttonBg);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

header {
    padding: 1rem;
    border-bottom: solid 1px var(--border);
    display: flex;
    align-items: center;
}

header aside {
    margin-left: auto;
    display: flex;
    align-items: center;
}

footer {
    padding: 1rem;
    opacity: 0.65;
    font-size: 90%;
}

footer aside a {
    display: inline-block;
}

main {
    flex: 1;
    padding: 1rem;
}

#app[data-current-view="ready"] main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reportInput {
    width: 100%;
    min-width: 640px;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.reportInput div {
    height: 350px;
    position: relative;
    margin-bottom: 1rem;
}

.reportInput textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.reportInput p {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: opacity 100ms ease;
    box-shadow: 0 0 0 8px var(--border) inset;
    opacity: .4;
}

.reportInput p span {
    display: inline-block;
    max-width: 70%;
    line-height: 1.2rem;
    margin: 0.5rem 0;
}

.reportInput textarea:focus + p {
    opacity: 0;
}

section {
    margin: 1rem 0;
}

button {
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--buttonBg);
    cursor: pointer;
    transition: border-color 100ms;
}
button:hover {
    border-color: var(--brightPurple);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
header aside img {
    width: 2rem;
    height: 2rem;
    margin: 0;
    display: block;
}

[data-view="report"] {
    display: none;
}

table tr th,
table tr td {
    padding: 0;
    padding-bottom: 2px;
    margin: 0;
    line-height: 1.5rem;
    vertical-align: top;
    border-bottom: solid 1px var(--border);
}

table strong {
    white-space: nowrap;
}

table tr:last-child th,
table tr:last-child td {
    border-bottom: none;
    padding-bottom: 0;
}

table tr th:not(:last-child),
table tr td:not(:last-child) {
    padding-right: 1rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h3 {
    margin-bottom: 0.5rem;
}

textarea {
    border-radius: 0;
    background: var(--boxBg);
    border: solid 1px var(--border);
    box-shadow: 0 4px 10px #0003;
}

@media print {
    :root {
        color: #000;
    }

    header {
        display: none;
    }

    footer aside {
        display: none;
    }

    a, a:hover {
        color: #000;
    }
}